/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Basic Reset */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fffbff;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Navigation Bar */
.navbar {
  background-color: #dae2df; /* background color */
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for logo image with increased size and hover effect */
.navbar .logo img {
  height: 180px; /* Increased logo size */
  width: auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar .logo img:hover {
  filter: brightness(0.8); /* Slight darkening on hover */
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Navigation Links */
.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar nav ul li a {
  font-family: 'Montserrat', sans-serif;
  color: #1a535c; /* White text */
  text-decoration: none;
  font-weight: 1100;
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #4c212a; /* Accent color on hover */
}

/* Index Introduction Section */
.intro {
    text-align: center;
    padding: 40px 0;
  }
  
  .intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
  }

  
  .responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  /* Make images stack on smaller screens */
  @media (max-width: 768px) {
    .column {
      flex: 1 1 100%; /* Make each column take full width on smaller screens */
      max-width: 100%;
    }
  }

/* Contact Section */
.contact {
    background-color: #fffbff; /* Light background to match other sections */
    color: #333; /* Text color */
    padding: 40px 0;
    text-align: center;
  }
  
  .contact p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .contact a {
    color: #1a535c; /* Color for links */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .contact a:hover {
    color: #4c212a; /* Change color on hover */
  }
  
  /* Spacing for larger devices */
  @media (min-width: 768px) {
    .contact {
      padding: 60px 0;
    }
  }
  
/* Footer Style */
footer {
  background-color: #4c212a;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer .social-icons a img {
  width: 24px;
  height: 24px;
}